server:
  port: 8080

zuul:
  routes:
    client-a:
      path: /client/**
      serviceId: client-a
    breeze-log:
      path: /breeze-log/**
      serviceId: breeze-log
security:
  basic:
    enabled: false
  oauth2:
    client:
      access-token-uri: http://localhost:8003/uaa/oauth/token #令牌端点
      user-authorization-uri: http://localhost:8003/uaa/oauth/authorize #授权端点
      client-id: gateway_server #OAuth2客户端ID
      client-secret: secret #OAuth2客户端密钥
    resource:
      jwt:
        key-value: springcloud123 #使用对称加密方式，默认算法为HS256
